.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: 0 1rem;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

