.navgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
}

.navLink:hover, .navLink:focus, .navLink:active {
  color: #ffc107;
}