---
import type { HTMLAttributes } from 'astro/types';
import clsx from 'clsx';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
  class={clsx(
    'text-lg font-medium transition-colors hover:text-foreground/80',
    isActive ? 'text-foreground' : 'text-foreground/60',
    className,
  )}
  {...props}
>
  <slot />
</a>
