---
import DateFormat from '../components/DateFormat.astro';
type Props = {
  date?: Date | string;
  heading: string;
};

const { date, heading } = Astro.props as Props;
---

<div
  class="relative border-l-1 md:border-l-2 border-l-primary pl-8 pb-8 w-full"
>
  <div
    class="absolute left-0 top-0 -ml-2 w-4 h-4 bg-background border-2 border-primary rounded-full"
  >
  </div>
  <div class="flex gap-4 -mt-1 mb-2 items-baseline">
    {date && <DateFormat date={date} />}
    <h3 class="text-lg font-semibold">
      {heading}
    </h3>
  </div>
  <slot />
</div>
