:root {
  --text-primary: #fff;
  --text-secondary: #a9b1d6;
  --text-accent: #23b0ff;
  --background-primary: #1d1e1f;
  --background-accent: #2d2e2f;
  --terminal-red: #ef476f;
  --terminal-yellow: #ffd166;
  --terminal-green: #06d6a0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-primary);
  color: var(--text-primary);
}

#root {
  height: 100vh;
}
